<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
    
</head>
<body>
    <%- include ('admin.ejs') %>
    <%- include ('header.ejs') %>

    <div class="adminContainer">

        <div class="adminTable">
            <table>
                <tbody>
                  <tr>
                    <td>Ady</td>
                    <td>Çap edilen senesi</td>
                    <td>Işjeň</td>
                  </tr>
                  <% for( let i = 0; i < data.length; i++ ) { %>
                    <tr>
                        <td style="width: 600px;"><a href="/admin/gazetlar/edit/<%=data[i].id%>"><%= data[i].name.tm %></a></td>
                        <td><%= data[i].date %> </td>
                        <% if (data[i].active == "true") { %>
                            <td style="max-width: 0px;" class="checkbox"><input style="cursor: pointer;" type="checkbox" checked  name="" id="<%=data[i].id%>"></td>
                        <% }else{%>
                            <td style="max-width: 0px;" class="checkbox"><input style="cursor: pointer;" type="checkbox"  name="" id="<%=data[i].id%>"></td>
                        <%} %>
                        <td style="width: 20px;"><a href="/admin/gazetlar/edit/<%=data[i].id%>"><img style="width: 95%;" src="/pictures/icon/edit.svg" alt=""></a></td>
                        <td style="width: 40px;"><a href="/admin/gazetlar/delete/<%=data[i].id%>"><img style="width: 30%;" src="/pictures/icon/delete.svg" alt=""></a></td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
        </div>
    </div>

    <!-- check box ucin -->

    <script>
        var check = document.querySelectorAll("input[type=checkbox]");
        for(var i = 0; i<check.length; i++){
            check[i].addEventListener("click",async function(){
                await checkSend(this.id,"<%=host%>/newspapers/isActiveNewspaper",this.checked);
            })
        }
    </script>
    <script>
        dropActive(0,3);
    </script>
</body>
</html>