<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
    
</head>
<body>
    <%- include ('admin.ejs') %>
    <%- include ('header.ejs') %>

    <div class="adminContainer">

        <div class="adminTable">
            <table>
                <tbody>
                  <tr>
                    <td>Harydyn ady</td>
                    <td>Sany</td>
                    <td>Bahasy</td>
                    <td>Dukan</td>
                    <td>Surady</td>
                  </tr>
                
                <% if(data.length>0){ %> 
                <% for( let i = 0; i < data.length; i++ ) { %>
                    <tr>  
                        <td style="max-width: 400px;"><%=data[i].name_tm%></td>
                        <td><%= data[i].quantity%></td> %>
                        <td><%= data[i].price %> </td>
                        <td><%= data[i].sellerName%></td>
                        <td><img style="width: 100px;" src="<%=host%>/<%=data[i].image%>" alt=""></td>
                    </tr>
                    <% }} %>
                </tbody>
              </table>
        </div>
    </div> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/scripts/js/component/fileSend.js"></script>
</body>
</html>