<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
    
</head>
<body>
    <%- include ('admin.ejs') %>
    <%- include ('header.ejs') %>

    <div class="adminContainer">

        <div class="adminTable">
            <table>
                <tbody>
                  <tr>
                    <td>Ady</td>
                  </tr>
                  
                <% for( let i = 0; i < data.length; i++ ) { %>
                        <tr>
                            <td style="max-width: 400px;"><a href="/admin/ishMeyilnamasy/edit/<%= data[i].id %>"><%= data[i].header.tm%></a></td>
                            <td style="width: 20px;"><a href="/admin/ishMeyilnamasy/edit/<%= data[i].id %>"><img style="width: 95%;" src="/pictures/icon/edit.svg" alt=""></a></td>
                            <td style="width: 40px;"><a href="/admin/ishMeyilnamasy/delete/<%= data[i].id %>"><img style="width: 30%;" src="/pictures/icon/delete.svg" alt=""></a></td>
                        </tr>
                    <% } %>
                </tbody>
              </table>
        </div>
    </div>
    <script>dropActive(2,5);</script>
</body>
</html>