<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      #active{
        padding-bottom: 10px;
        border-bottom: 3px solid #2058D5; ;
      }
    </style>
</head>
<body>
    <section class="locationSection">
        <div class="container">
          <div class="sectionHeader" id="bolumler" data-dynamic data-tm="Welaýat bölümleri" data-en="Regional departments" data-ru="Отделения в велаятах">Welayatdaky bolumler</div>
          <div class="welayatNames">
            <div class="0" style="cursor: pointer;" id="active" data-dynamic data-tm="Aşgabat we Ahal" data-ru="Ашхабад и Ахал" data-en="Ashgabat and Akhal">Ashgabat we Ahal</div>
            <div class="2" data-content style="cursor: pointer;" id="mary">Mary</div>
            <div class="4" data-content style="cursor: pointer;" id="dashoguz">Dashoguz</div>
            <div class="3" data-content style="cursor: pointer;" id="lebap">Lebap</div>
            <div class="5" data-content style="cursor: pointer;" id="balkan">Balkan</div>
          </div>
          <div class="location">
            <div class="map">
              <div class="tm">
                <svg width="688" height="489" viewBox="0 0 688 489" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="3" d="M199.396 117.459L196.485 103.941L196 103.422L203.763 102.902L216.863 104.461L223.656 106.541L224.626 102.382L227.052 100.822V98.7424C226.405 98.0492 225.015 96.6628 224.626 96.6628C224.238 96.6628 222.847 91.1171 222.2 88.3443L220.745 81.5855C220.745 78.9859 220.648 73.5789 220.26 72.7471C219.774 71.7073 220.745 65.9883 220.745 65.4684C220.745 64.9485 223.171 59.7494 223.171 59.2295C223.171 58.8136 227.052 57.6698 228.993 57.1499C229.964 54.7237 231.904 49.7672 231.904 49.3513C231.904 48.8314 237.241 44.1522 238.212 44.1522H248.401H254.223L262.472 42.5925V39.4731L265.383 38.4333L266.353 33.2342L267.809 29.5948L264.897 24.9157L268.779 22.3162L273.631 20.2365L276.057 23.356H280.424L285.761 24.9157L287.216 28.0351L289.157 33.2342L292.554 32.1944L289.157 26.4754L285.761 18.1569L280.424 16.0773L276.542 12.4379L281.879 8.27869L285.761 9.83841L296.92 10.8782L297.891 5.67916L299.346 3.59953L301.287 1L315.843 19.1967L326.517 20.2365V22.3162L331.369 26.4754L330.399 28.0351L336.706 36.3536L355.629 35.8337L356.599 34.7939L359.025 35.8337L364.362 40.5129L367.273 43.6323L364.362 44.6721L363.392 46.7518L366.303 54.0304L363.392 55.5902C362.615 56.0061 363.068 58.1897 363.392 59.2295H366.303C367.273 59.9227 369.408 61.7251 370.185 63.3888C371.155 65.4684 378.433 69.6276 379.403 70.6674C380.18 71.4993 379.727 72.0539 379.403 72.2272L370.185 68.0679L366.788 69.6276L372.61 82.6253C371.478 84.185 369.02 87.6164 368.244 88.8642C367.467 90.1119 368.567 94.5831 369.214 96.6628L387.166 108.101H409V122.138L372.61 123.698V148.133V167.37L382.8 170.489L384.255 199.084L385.226 223H377.948L371.64 213.642L365.818 216.241L363.392 211.042V188.686H319.724L310.021 182.447L283.82 177.248L270.72 182.447L235.786 185.047L231.904 188.686L222.2 177.248L225.112 171.529L220.26 154.372L212.982 147.094V138.255L199.396 117.459Z" fill="#C4C4C4" stroke="white"/>
                  <path id="0" class="active" d="M232 189L227.5 184V184.5L226.5 186.5L226 192.5L224.5 202.5L221.5 205L218 231.5L214.5 255.5C214.167 257.167 213.5 260.7 213.5 261.5C213.5 262.3 213.167 265.167 213 266.5L211 270.5L220 278L222.5 284L233.5 290C233.667 292 233.9 296.2 233.5 297C233.1 297.8 234.333 299 235 299.5L235.5 305.5L239 308L240 314L241.5 317C243.833 317.667 248.8 319 250 319C251.2 319 255.833 319.667 258 320L261.5 322.5L266.5 323C267.833 323.833 270.6 325.7 271 326.5C271.4 327.3 273.833 327.833 275 328L280.5 328.5L282 333C283 333.667 285.3 335 286.5 335C287.7 335 288.333 336.333 288.5 337H295.5L299 333.5L303 337H309L311.5 334L322 337L330 344H336.5L339 346L338 356L348 368L357 367.5L357.5 369L360 369.5L364.5 373.5H370L383.5 393L386 398H391.5C397.1 399.2 415.833 397.5 424.5 396.5L428 403C427.5 404 426.4 406.4 426 408C425.6 409.6 425.833 411.333 426 412L429 429L424.5 438L430 441V451.5L427.5 456L430 459H435.5V460.5L437.5 461L441.5 454L435.5 446.5L441.5 441V436L437.5 434L438.5 394.5L420 365L414 355.5C415.5 355.667 418.8 356.1 420 356.5C421.2 356.9 423.167 357.667 424 358L430 365L435.5 362.5V361.5C432.7 358.3 421.333 353.833 416 352L411 350L407 334L412 329.5L409.5 324L414.5 320.5L404 305L395 296L388 268L392.5 265.5L393.5 257.5L400.5 253.5L404.5 232L415.5 229.5V220.5L381.5 221.5L375.5 212.5L369 215.5L365 209.5V188L320 187.5L311 180.5L285.5 176L272.5 181.5L255 182.5L238.5 183.5L232 189Z" fill="#C4C4C4" stroke="white"/>
                  <path id="2" d="M415 221H423L431 230L484.5 284.5L498 302.5L520 311L543.5 339L532.5 354.5L535.5 385.5H600.5L594 399V410.5L586 423L581.5 424L578 428H572L567.5 431L566.5 437L562 435L544 440.5L541.5 442.5L521 446C520.667 447.333 520.2 450 521 450C522 450 529.5 454.5 527.5 454.5C525.9 454.5 522.5 457.5 521 459L519.5 472L511 474L505 480H502.5L500 483H495.5L490.5 480L486.5 481C484.833 483.5 481.4 488.4 481 488C480.6 487.6 478.833 482.5 478 480L477 479L467.5 470.5C462.833 471 453.3 472 452.5 472C451.7 472 441.5 466.667 436.5 464L441 456L436.5 448L441.5 443L441 435.5C440 435.167 437.9 434.3 437.5 433.5C437.1 432.7 437.333 429.833 437.5 428.5L438.5 394L416 359H420.5L427 368L436.5 363.5C434.333 360.333 428 353.5 420 351.5C412.387 349.597 410.509 349.656 410.489 349.953C410.493 349.969 410.496 349.985 410.5 350C410.492 349.984 410.488 349.968 410.489 349.953C409.986 347.767 409 343.191 409 342C409 340.5 406.5 336.5 407 336C407.4 335.6 410.167 333.5 411.5 332.5L410.5 325.5L415 321.5C411 315.833 402.9 304.4 402.5 304C402.1 303.6 397.333 297.833 395 295L388 269.5L391.5 267L393 259C395.167 258.167 399.5 256.3 399.5 255.5C399.5 254.7 402.5 241.167 404 234.5L415 232V221Z" fill="#C4C4C4"/>
                  <path id="4" d="M409.454 122.779V107.564H414.38L421.769 112.636L430.143 113.143L430.636 106.043L432.114 104.014L434.577 103L436.055 104.014H439.01L441.474 103C441.474 104.014 441.572 106.043 441.966 106.043C442.36 106.043 450.997 111.79 455.267 114.664V117.707L459.7 121.257L460.686 133.936L462.163 137.993C462.656 139.852 463.641 143.876 463.641 145.093C463.641 146.31 464.626 146.276 465.119 146.107L468.075 152.7L476.942 158.786V165.379L480.39 167.914V175.521L481.375 178.057C481.211 178.733 480.784 180.187 480.39 180.593C479.996 180.999 479.898 182.114 479.898 182.621C480.719 183.805 482.361 186.273 482.361 186.679V189.721L508.469 208.993L538.519 231.307C540.489 234.012 544.529 239.726 544.923 240.943C545.317 242.16 558.223 250.579 564.627 254.636H568.568L574.972 252.607L583.839 264.779L608.47 278.471C613.068 282.529 622.46 290.947 623.249 292.164C624.037 293.381 632.116 297.067 636.057 298.757C636.713 299.264 638.224 300.279 639.012 300.279H642.461L644.431 299.771C644.759 299.433 645.909 298.554 647.879 297.743C649.456 296.931 650.507 298.081 650.835 298.757C650.507 299.433 650.244 300.786 651.82 300.786H656.254C656.582 300.955 657.535 301.699 658.717 303.321C660.195 305.35 663.15 305.35 665.121 306.364C667.091 307.379 667.091 307.886 672.51 312.957C673.988 313.464 675.466 312.957 677.436 312.957H680.885C681.87 313.802 683.939 315.594 684.333 316C684.825 316.507 686.303 319.043 686.796 319.55C687.289 320.057 686.796 321.579 686.303 321.579C685.811 321.579 682.855 322.593 681.87 323.607C680.885 324.621 680.392 326.65 680.392 327.664V343.386L684.825 349.979L683.84 351.5L679.899 354.543V356.571L677.436 357.079L667.091 358.093L665.613 357.079C664.792 356.74 663.052 356.064 662.658 356.064C662.264 356.064 662.165 354.712 662.165 354.036L656.746 350.993C653.791 350.317 647.781 348.964 647.387 348.964C646.993 348.964 644.267 345.921 642.953 344.4L639.997 344.907L636.057 349.979V359.107L630.145 364.686L608.963 364.179L593.692 372.8C594.348 375.674 595.761 381.523 596.155 381.929C596.549 382.334 595.005 384.802 594.184 385.986L531.13 387L528.666 356.064L539.504 340.85L514.873 310.421L494.183 301.8L465.612 267.821L418.321 218.629L386.301 219.643L382.852 166.9L373.985 164.364L373.493 162.843L373 124.3L409.454 122.779Z" fill="#C4C4C4" stroke="white"/>
                  <path id="1" d="M167.5 103H195.5C197.5 109.5 201.5 122.6 201.5 123C201.5 123.5 207.5 130.5 208 131.5C208.4 132.3 211.167 136.5 212.5 138.5L214 147L219 152C220.333 154.833 223.1 160.7 223.5 161.5C223.9 162.3 224.667 166.5 225 168.5L222.5 175.5L227.5 182L226 201L222 202.5L219 230L217.5 238.5L213.5 260V265L211 269.5C211.5 270.833 212.6 273.6 213 274C213.4 274.4 217.833 277.167 220 278.5L223.5 285L234.5 291.5C234.167 293.833 233.4 298.5 233 298.5C232.5 298.5 227.5 303 226.5 303H221.5C220.7 303 217.833 301.333 216.5 300.5L212 297.5C211.333 297.5 209.8 297.7 209 298.5C208.2 299.3 206 299.5 205 299.5C204.333 299.167 202.9 298.5 202.5 298.5C202.1 298.5 199.333 297.833 198 297.5L193 300.5L191.5 304.5L193 309.5L190 310.5L185 309.5H175.5L167.5 308L164.5 307L152.5 309L146 311L138.5 315.5L133 316.5L118 331.5L115.5 336.5L117.5 339.5C117.167 341 116.4 344 116 344C115.6 344 112.167 346.667 110.5 348H104.5C105.3 348 98.5 352.667 95 355L91 355.5L87 356.5L73 355.5L72 349.5C71.3333 345.5 69.9 337.4 69.5 337C69.1 336.6 68.3333 333.5 68 332C67.8333 330.167 67.5 326.4 67.5 326C67.5 325.6 67.8333 316.5 68 312C68.3333 310.167 69 306.4 69 306C69 305.5 70.5 300.5 70.5 299.5C70.5 298.7 71.1667 294.833 71.5 293L69 283V277.5C69 276.7 71.3333 272.167 72.5 270C73.1667 268.167 74.6 264.3 75 263.5C75.4 262.7 75.5 259.167 75.5 257.5L75 255.5C74.1667 254.833 72.3 253.3 71.5 252.5C70.7 251.7 70.5 250.5 70.5 250L67.5 248.5C66.1667 247.833 63.4 246.4 63 246C62.6 245.6 62.5 243.167 62.5 242L62 238.5L60.5 243C60.1667 242.667 59.5 241.9 59.5 241.5C59.5 241.1 58.8333 239 58.5 238H56.5C56 238 55.5 236 55 235C54.5 234 54.5 232.5 54.5 232C54.5 231.6 53.8333 230.833 53.5 230.5H51.5C50.7 230.5 49.5 230.167 49 230L48.5 228C47.8333 227.833 46.4 227.5 46 227.5H41H36C35 227.5 38.5 229 38.5 229.5C38.5 229.9 37.5 231 37 231.5L35.5 233.5V230C35 229.167 33.9 227.5 33.5 227.5C33.1 227.5 32.6667 224.833 32.5 223.5L39 214V216.5C40.1667 216.667 42.6 216.9 43 216.5C43.4 216.1 47.1667 215.667 49 215.5L51.5 217L53.5 219.5L56.5 218C57.3333 217.667 59.1 217 59.5 217C59.9 217 62 216 63 215.5C62.3333 215.167 60.9 214.5 60.5 214.5C60.1 214.5 59 213.5 58.5 213V211C58.5 210.6 57.5 209.167 57 208.5H54.5L53.5 206.5L51.5 206C51.8333 206.833 52.3 208.5 51.5 208.5C50.7 208.5 49.8333 207.833 49.5 207.5L48.5 204C48.6667 202.833 49 200.4 49 200C49 199.6 50.6667 196.5 51.5 195L52.5 192L48.5 189.5C48 189.167 46.9 188.5 46.5 188.5C46.1 188.5 46 189.5 46 190H40.5L38 188H25L24 186.5H22C21.2 186.5 21.3333 186.833 21.5 187L23 189.5L25 192.5V195H23L20 191L17 188L15 183.5C15.3333 182.333 16 179.9 16 179.5V176.5L15 175L13 171L15 160V154.5L20 147L21.5 143L20 142L19.5 140L24.5 128L25.5 125L24 121C23.3333 120.667 21.9 119.9 21.5 119.5C21.1 119.1 20.6667 116.667 20.5 115.5L19.5 112L18.5 108.5C18.1667 106.833 17.5 103.3 17.5 102.5C17.5 101.5 15.5 98 15.5 97.5C15.5 97.1 12.8333 94.3333 11.5 93L8 91L5.5 89.5L7 84.5C7.5 83.6667 8.5 81.9 8.5 81.5C8.5 81.1 7.5 79.6667 7 79L4.5 76.5L1 74V72.5L13.5 61.5L28.5 48.5C34.6667 45.6667 47.3 39.9 48.5 39.5C49.7 39.1 51.6667 38.3333 52.5 38L60.5 37H69.5H75L80.5 35H88L118 55.5L124.5 63.5V71L131 78L131.5 81.5L133 86.5L145.5 102L151 106.5H153C153.8 106.5 154 107.167 154 107.5L156.5 106.5L158.5 104.5H162.5H165L166 104H167.5V103Z" fill="#C4C4C4" stroke="white"/>
                </svg>              
              </div>
            </div>
            
            <% if (list.location !=null) { %>
              <div class="info">
                <%for(var i = 1; i<6  ;i++){%>
                  <% if (i==1) { %>
                    <div class="velayat" style="display: none;">
  
                      <div class="head change" id="mapHead" data-dynamic data-tm="Aşgabat" data-ru="Ашхабад" data-en="Ashgabat">Ashgabat</div>
                      <div class="title" id="mapAdress" data-dynamic data-tm="Salgysy" data-en="Address" data-ru="Адрес">Adress:</div>
                      <div class="information change" id="mapLocation" data-dynamic data-tm="<%=location[i-1].tmAddress%>" data-ru="<%=location[i-1].ruAddress%>" data-en="<%=location[i-1].enAddress%>"><%=location[i-1].tmAddress%></div>
                      <div class="title" data-dynamic data-tm="Kabulhananyň telefon belgileri" data-en="Reception phones" data-ru="Телефоны приемной" id="mapPhones">Telefonlar:</div>
                      <%for(var j = 0; j<location[i-1].phone.length; j++){%>
                        <div class="information change up"><%=location[i-1].phone[j]%></div>
                      <%}%>
                      <div class="title" id="mapFaks" data-dynamic data-tm="Faks" data-en="Fax" data-ru="Факс">Faks:</div>
                      <div class="information change faks"><%=location[i-1].faks%></div>
                      <div class="title" id="mapEmail" data-dynamic data-tm="E-mail" data-en="E-mail" data-ru="Email">Elektron pochta:</div>
                      <div class="information change" style="margin-bottom: 20px;"><%=location[i-1].email%></div>
  
  
                      <div class="head change" id="mapHead" data-dynamic data-tm="Ahal" data-ru="Ахал" data-en="Ahal">Ahal</div>
                      <div class="title" id="mapAdress" data-dynamic data-tm="Salgysy" data-en="Address" data-ru="Адрес">Adress:</div>
                      <div class="information change" id="mapLocation" data-dynamic data-tm="<%=location[i].tmAddress%>" data-ru="<%=location[i].ruAddress%>" data-en="<%=location[i].enAddress%>"><%=location[i].tmAddress%></div>
                      <div class="title" data-dynamic data-tm="Kabulhananyň telefon belgileri" data-en="Reception phones" data-ru="Телефоны приемной" id="mapPhones">Telefonlar:</div>
                      <%for(var j = 0; j<location[i].phone.length; j++){%>
                        <div class="information change up"><%=location[i].phone[j]%></div>
                      <%}%>
                      <div class="title" data-dynamic data-tm="Faks" data-en="Fax" data-ru="Факс" id="mapFaks">Faks:</div>
                      <div class="information change faks"><%=location[i].faks%></div>
                      <div class="title" data-dynamic data-tm="E-mail" data-en="E-mail" data-ru="Email" id="mapEmail">Elektron pochta:</div>
                      <div class="information change"><%=location[i].email%></div>
  
                    </div>
                    
                    
                  <% }else{ %>
                  <div class="velayat" style="display: none;">
                    <div class="head change" id="mapHead" data-dynamic data-tm="<%=location[6][i-2]%>" data-ru="<%=location[7][i-2]%>" data-en="<%=location[8][i-2]%>"><%=location[7][i-2]%></div>
                    <div class="title" id="mapAdress" data-dynamic data-tm="Salgysy" data-en="Address" data-ru="Адрес" >Adress:</div>
                    <div class="information change" id="mapLocation" data-dynamic data-tm="<%=location[i].tmAddress%>" data-ru="<%=location[i].ruAddress%>" data-en="<%=location[i].enAddress%>"><%=location[i].tmAddress%></div>
                    <div class="title" id="mapPhones" data-dynamic data-tm="Kabulhananyň telefon belgileri" data-en="Reception phones" data-ru="Телефоны приемной">Telefonlar:</div>
                    <%for(var j = 0; j<location[i].phone.length; j++){%>
                      <div class="information change up"><%=location[i].phone[j]%></div>
                    <%}%>
                    <div class="title" data-dynamic data-tm="Faks" data-en="Fax" data-ru="Факс" id="mapFaks">Faks:</div>
                    <div class="information change faks"><%=location[i].faks%></div>
                    <div class="title" data-dynamic data-tm="E-mail" data-en="E-mail" data-ru="Email" id="mapEmail">Elektron pochta:</div>
                    <div class="information change"><%=location[i].email%></div>
                  </div>
                <%}}%>
              </div>
            <% } %>
          </div>
          
          <% if (list.banner[2].banner != null) { %>
          <div class="splide3">
            <div class="splide__track">
              <ul class="splide__list">
                    <%for(var i = 0; i < list.banner[2].banner.length; i++){%>
                      <li class="splide__slide"><a target="_blank" href="//<%= list.banner[2].banner[i].link %>"><div><img src="<%= host %>/banners/<%=list.banner[2].banner[i].pic%>" alt=""></div></a></li>
                    <%}%>
                  </ul>
                </div>
              </div>
            </div>
          <% } %>
      </section>

      <!-- map derdi -->
      <script>
        //map
        const tm = document.querySelectorAll('.tm svg path');
        const info = document.querySelectorAll(".info .velayat");
        info[0].style.display="block";
        for(var i = 0; i<tm.length; i++){
          tm[i].addEventListener("mouseover",async function(){
            for(var j = 0; j<tm.length; j++){
              tm[j].classList.remove('active');
              info[j].style.display = "none";
            }
            this.classList.add('active');
            info[this.id].style.display = "block"
          });
        };

        var welayat = document.querySelectorAll(".welayatNames div");

        for(var i =0; i<welayat.length; i++){
          welayat[i].addEventListener("click",function(){
            for(var j = 0; j<welayat.length; j++){
              welayat[j].style.borderBottom = "none";
            }
            for(var j = 0; j<info.length; j++){
              info[j].style.display = "none";
              this.style.borderBottom = "3px solid #2058D5";
            }
            switch (Number(this.className)){
              case 0 :
                info[0].style.display="block";
                break;
              case(1):
                info[0].style.display ="block";
                break;
              case(2):
                info[2].style.display ="block";
                break
              case(3):
                info[4].style.display ="block";
                break
              case(4):
                info[3].style.display ="block";
                break
              case(5):
                info[1].style.display ="block";
                break
            }
          })
        }
      </script>


      <!-- splide -->
      <script>
        document.addEventListener('DOMContentLoaded', function() {

        new Splide(".splide3",{
          type:"loop",
          perPage:1,
          autoplay:true,
          cover:true
        }).mount();
      });
      </script>
</body>
</html>