<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="newsSection">
        <div class="container newsSectionContainer">
          <div class="navbar">
            <div class="left1">
              <a href="/pressCenter">
                <div class="h1" data-content id="newsCenter"> </div>
                <div class="img"><img src="/pictures/icon/rightArrow.png" alt=""></div>
              </a>
            </div>
    
            <div class="right1">
              <div class="active1 slide" data-id0 data-content id="news"><span></span> </div>
              <div data-id1 data-content class="slide" id="events"><span></span>  </div>
              <a href="/gazet"><div data-id2 data-content id="gazet"><span></span>  </div></a>
            </div>
          </div>
            
            
              <div class="splide5">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li class="splide__slide">

                      <div class="splideHide" style="display: block;">
                        <div class="newsSplide">
                          <div class="left"><a href="news/<%= list.list[0].id %>"><img src='<%= host %>/news/<%= list.list[0].pic %>' alt=""></a></div>
                          <div class="right">
                            <div class="top">
                              <a href="news/<%= list.list[0].id %>" style="text-decoration: none; color: #10181F;"><div class="name" data-dynamic data-ru="<%=list.list[0].header.RU%>" data-tm="<%=list.list[0].header.TM%>" data-en="<%=list.list[0].header.EN%>" id="name"></div></a>
                              <div class="title" data-dynamic data-ru="<%=list.list[0].body.RU%>" data-tm="<%=list.list[0].body.TM%>" data-en="<%=list.list[0].body.EN%>" id="title"></div>
                            </div>
                            <div class="bottom">
                              <div class="new" data-content id="newss">News</div>
                              <div class="dot"></div>
                              <div class="date"  id="date"><%=list.list[0].date%></div>
                            </div>
                          </div>
                          
                          <% for (let i = 1; i < 4; i++) {%>
                            <div class="newsContainer lowNews<%=i%>">
                              <div class="top"><a href="news/<%= list.list[i].id %>"><img src="<%= host %>/news/<%= list.list[i].pic %>" alt=""></a></div>
                              <div class="bottomTop">
                                <a href="news/<%= list.list[i].id %>" style="text-decoration: none; color: #10181F;"><div class="name" data-dynamic data-ru="<%=list.list[i].header.RU%>" data-tm="<%=list.list[i].header.TM%>" data-en="<%=list.list[i].header.EN%>" id="name"></div></a>
                              </div>
                              <div class="bottom">
                                <div class="new" data-content id="newss"></div>
                                <div class="dot"></div>
                                <div class="date" id="date"><%=list.list[i].date%></div>
                              </div>
                            </div>
                          <%} %> 
                        </div>
                      </div>

                    </li>
                    <li class="splide__slide">

                      <div class="splideHide" style="display: block;">
                        <div class="newsSplide2">
                          <div class="left"><a href="events/<%= list.list2[0].id %>"><img src='<%= host %>/events/<%= list.list2[0].pic %>' alt=""></a></div>
                          <div class="right">
                            <div class="top">
                              <a href="events/<%= list.list2[0].id %>" style="text-decoration: none; color: #10181F;"><div class="name" data-dynamic data-ru="<%=list.list2[0].header.RU%>" data-tm="<%=list.list2[0].header.TM%>" data-en="<%=list.list2[0].header.EN%>" id="name"></div></a>
                              <div class="title" data-dynamic data-ru="<%=list.list2[0].body.RU%>" data-tm="<%=list.list2[0].body.TM%>" data-en="<%=list.list2[0].body.EN%>" id="title"><%=list.list2[0].body.RU%></div>
                            </div>
                            <div class="bottom">
                              <div class="new" data-content id="newss"></div>
                              <div class="dot"></div>
                              <div class="date" id="date"><%=list.list2[0].date%></div>
                            </div>
                          </div>
                          <% if (list.list2.length > 4) { %>
                            <% for (let i = 1; i < 4; i++) {%>
                              <div class="newsContainer lowNews<%=i%>">
                                <div class="top"><a href="events/<%= list.list2[i].id %>"><img src="<%= host %>/events/<%= list.list2[i].pic %>" alt=""></a></div>
                                <div class="bottomTop">
                                  <a href="events/<%= list.list2[i].id %>" style="text-decoration: none; color: #10181F;"><div class="name" data-dynamic data-ru="<%=list.list2[i].header.RU%>" data-tm="<%=list.list2[i].header.TM%>" data-en="<%=list.list2[i].header.EN%>" id="name"><%=list.list2[i].header.RU%></div></a>
                                </div>
                                <div class="bottom">
                                  <div class="new" data-content id="newss"></div>
                                  <div class="dot"></div>
                                  <div class="date"   id="date"><%=list.list2[i].date%></div>
                                </div>
                              </div>
                            <%} %> 
                          <% }else{ %>
                            <% for (let i = 1; i < list.list2.length; i++) {%>
                              <div class="newsContainer lowNews<%=i%>">
                                <div class="top"><a href="events/<%= list.list2[i].id %>"><img src="<%= host %>/events/<%= list.list2[i].pic %>" alt=""></a></div>
                                <div class="bottomTop">
                                  <a href="events/<%= list.list2[i].id %>" style="text-decoration: none; color: #10181F;"><div class="name" data-dynamic data-ru="<%=list.list2[i].header.RU%>" data-tm="<%=list.list2[i].header.TM%>" data-en="<%=list.list2[i].header.EN%>" id="name"><%=list.list2[i].header.RU%></div></a>
                                </div>
                                <div class="bottom">
                                  <div class="new" data-content id="newss">News</div>
                                  <div class="dot"></div>
                                  <div class="date"   id="date"><%=list.list2[i].date%></div>
                                </div>
                              </div>
                            <%} %> 
                          <% } %> 
                        </div>
                      </div>

                    </li>
                  </ul>
                </div>
              </div>
              <div class="splide">
                <div class="splide__track">
                  <ul class="splide__list">
                    <% if (list.banner[0].banner !=null) { %>
                      <%for(var i = 0; i < list.banner[0].banner.length; i++){%>
                        <li class="splide__slide"><a target="_blank" href="//<%=list.banner[0].banner[i].link%>"><div><img src="<%= host %>/banners/<%=list.banner[0].banner[i].pic%>" alt=""></div></a></li>
                      <%}%>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>
        </section>





        <script src="/scripts/src/materialize/splide.js"></script>
        <!-- splide Banner -->
        <script>
              document.addEventListener('DOMContentLoaded', function() {
                new Splide('.splide',{
                    type:"loop",
                    perPage:1,
                    autoplay:true,
                    cover:true
                  }).mount();
                var sl = '<%=sl%>';
                if(sl == 2){
                  new Splide('.splide5',{
                      perPage:1,
                      autoplay:false,
                      cover:true,
                      drag:false,
                      arrows:false,
                      start:1
                    }).mount();
                }else{
                  new Splide('.splide5',{
                      perPage:1,
                      autoplay:false,
                      cover:true,
                      drag:false,
                      arrows:false,
                      start:0
                    }).mount();
                }
              });
        </script>  

        <!-- show news Section -->
        <script>
          var sl = '<%=sl%>';
          var splideHide = document.querySelectorAll(".splideHide");
          var right1 = document.querySelectorAll(".navbar .right1 .slide");

          if(sl == 2){
            right1[1].classList.add("active1");
            right1[0].classList.remove("active1");
          }

          for(var i = 0; i<right1.length; i++){
            right1[i].addEventListener("click",function(){
              for(var j = 0; j<right1.length; j++){
                right1[j].classList.remove("active1");
              }
              this.classList.add("active1");

              var splide_pagination = document.querySelectorAll(".splide__pagination__page")
              
              if(this.hasAttribute('data-id0')){
                splide_pagination[0].click();
              }else if(this.hasAttribute("data-id1")){
                splide_pagination[1].click();
              }
            })
          }

        </script>

        <script>
          let userAgent = navigator.userAgent;
         let browserName;
         
         if(userAgent.match(/chrome|chromium|crios/i)){
             browserName = "chrome";
           }else if(userAgent.match(/firefox|fxios/i)){
             browserName = "firefox";
             var title = document.querySelectorAll(".title")[1];
             title.style.maxHeight = '267px';
           }  else if(userAgent.match(/safari/i)){
             browserName = "safari";
           }else if(userAgent.match(/opr\//i)){
             browserName = "opera";
           } else if(userAgent.match(/edg/i)){
             browserName = "edge";
           }else{
             browserName="No browser detection";
           }

           
        </script>
  </body>
</html>

<!-- &lt; = < , &gt; = > -->