<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="sponserSection">
        <div class="container">
            <div class="sponserHeader">
                <div id="sponserler" class="sponserTitle" data-content>Biziň hyzmatdaşlarymyz</div>
                <div class="arrows">
                    <div class="leftArrow"><img src="/pictures/icon/left.png" alt="surat"></div>
                    <div class="rightArrow"><img src="/pictures/icon/right.png" alt="surat"></div>
                </div>
            </div>
            <div class="sponserler">
                <div class="splide4">
                    <div class="splide__track">
                      <ul class="splide__list">
                        <%for(var i = 0; i < list.sponserler.length; i++){%>
                            <li class="splide__slide">
                                <a target="_blank" href="//<%= list.sponserler[i].link %>" style="text-decoration:none; color:black">
                                    <div class="sponser">
                                        <div class="left">
                                            <div class="sponserLogo"><img src="<%=host%>/sponsor/<%= list.sponserler[i].pic %>" alt="surat"></div>
                                            <div class="name"><%=list.sponserler[i].name%></div>
                                        </div>
                                        <div class="icon"><img src="/pictures/icon/topRight.png" alt="icon"></div>
                                    </div>
                                </a>
                            </li>
                        <%}%>
                      </ul>
                    </div>
                </div>
                <div class="sponsers">
                    <% for( var i = 0; i < list.sponserler.length; i++ ) { %>
                        <a target="_blank" href="//<%= list.sponserler[i].link %>"  style="text-decoration:none; color:black" >
                            <div class="sponser">
                                <div class="left">
                                    <div class="sponserLogo"><img src="<%= host %>/sponsor/<%=list.sponserler[i].pic%>" alt="surat"></div>
                                    <div class="name"><%=list.sponserler[i].name%></div>
                                </div>
                                <div class="icon"><img src="/pictures/icon/topRight.png" alt="icon"></div>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>
            
            <div class="statictika">
                <div class="card">
                    <div class="ball"><%=list.statictika[0]%></div>
                    <div class="name" data-content id="bizBilen">Biz bilen</div>
                </div>
                <div class="card">
                    <div class="ball"><%=list.statictika[1]%></div>
                    <div class="name" data-content id="prejectler">Projects</div>
                </div>
                <div class="card">
                    <div class="ball"><%=list.statictika[2]%></div>
                    <div class="name" data-content id="sizBilenIshleyas">Edara ishgarleri Edara ishgarleri</div>
                </div>
                <div class="card">
                    <div class="ball"><%=list.statictika[3]%></div>
                    <div class="name" data-content id="geljekgiOkadyldy">Edara ishgarleri Edara ishgarleri</div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var size = document.defaultView;
        var page = 0
        if(size.innerWidth<=1000){
            page = 2;
        }else{
            page = 3;
        }
        size.addEventListener("resize",function(){
            if(size.innerWidth <=1000){
                first(2);
            }else{
                first(3);
            }
        })
        document.addEventListener('DOMContentLoaded', function() {
            first(page);
        })
        function first(page){
                new Splide(".splide4",{
                      type:"loop",
                      perPage:page,
                      perMove:1,
                      cover:true,
                      gap:"25px",
                      pagination:false
                    }).mount();
    
                    var leftArrow = document.querySelector(".leftArrow");
                    var leftArrowImg = document.querySelector(".leftArrow img");
                    var rightArrowImg = document.querySelector(".rightArrow img");
                    var rightArrow = document.querySelector(".rightArrow");
                    var arrows = document.querySelectorAll(".splide4 .splide__arrows button")
                    arrows.forEach(e=>{
                        e.style.display = "none";
                    })
                    leftArrow.addEventListener("click",function(){
                        arrows[0].click()
                    })
                    rightArrow.addEventListener("click",function(){
                        arrows[1].click()
                    })
                    leftArrow.addEventListener("mouseover",function(){
                        leftArrowImg.setAttribute("src","/pictures/icon/leftBlue.png");
                    })
                    leftArrow.addEventListener("mouseout",function(){
                        leftArrowImg.setAttribute("src","/pictures/icon/left.png");
                    })
                    rightArrow.addEventListener("mouseover",function(){
                        rightArrowImg.setAttribute("src","/pictures/icon/rightBlue.png");
                    })
                    rightArrow.addEventListener("mouseout",function(){
                        rightArrowImg.setAttribute("src","/pictures/icon/right.png");
                    });
                }

        

    </script>
</body>
</html>