<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <style>
        video{
            width: 100%;
        }
    </style>
</head>

<body>
    <%- include ('../../admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %> 
            </div>
        </div>
    <form action="/admin/subConstructor2" method="POST" id="identifier">
        <div class="adminTable">
                <div class="formInputs addHabar form1">
                    <div class="box">
                        <div class="boxHeader">Türkmençe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="">Mazmunyň headeri:</label>
                            <input type="text" name="headerTM" class="header tm">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <textarea id="image-tools"></textarea>
                        </div>
                    
                    </div>
                    <div class="box imgBox">
                        <div class="boxHeader">Videony giriziň</div>
                        <div class="mazmun">Videony giriziň:</div>
                        <div class="inputs">
                            <p><input type="file" name="image" accept="video/mp4" id="img0" onchange="loadFile2(event,0)" class="1" style="display: none;"></p>
                            <label class="imgLbCon" for="img0"><video  id="output" src="/pictures/icon/video.mp4"> </video></label>
                        </div>
                      
                    
    
                    <textarea name="text" style="display: none;" id="hiddenArea" cols="30"  rows="10"></textarea>
                    <textarea name="text2" id="hiddenArea2" style="display: none;" cols="30"  rows="10"></textarea>
                    <textarea name="text3" id="hiddenArea3" cols="30" style="display: none;" rows="10"></textarea>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Rusça giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                            <input type="text" name="headerRU" id="topTa" class="header ru">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <textarea id="image-tools2"></textarea>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Iňlisçe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                            <input type="text" name="headerEN" id="topTa" class="header en">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <textarea id="image-tools3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="formInputs addHabar form2">

                </div>
                <div class="formInputs addHabar">
                    <div class="box imgBox">
                        <div class="headerCon">
                            <div class="suratHeader">
                                <label for="">Faýl [PDF] giriziň:</label>
                                <label for="sowdaSurat">Faýl goşmak <img src="/pictures/icon/plus.svg" alt=""></label>
                                <input type="file" onchange="takeImg(event)" id="sowdaSurat" style="display: none;">
                            </div>
                        </div>
                        <label for="" class="imgsCon">
                            <!-- js bilen bir tag gelyar surat yok bolondo default surat gelyan -->
                            <div class="imgCon pdfCon">
                                <!-- js bilen doldurylyar surat goyulyar -->
                            </div>
                        </label>
                    </div>
                </div>


            <div class="submitCon">
                <input class="save" type="submit" value="Ýatda sakla">
            </div>


        </div>
    </form>
    </div>


    
        <!-- picture show when i choose from file -->
        <script>
            var imgCount = 0;
            var delCount = 0;
            var pdfs = [];
            function takeImg(event){
                if(event.target.files[0] != undefined){
                    var imgCon = document.querySelector(".imgCon");
                    imgCon.innerHTML += `
                                        <div class="div pdf ${delCount}">
                                            <img class="img" src="/pictures/icon/pdfRed.png" alt="hjhjhj">
                                            <div class="imgDelete" onclick="delImg(${delCount})"><img src="/pictures/icon/delete.svg"  alt=""></div>
                                            <div class="name"></div>
                                        </div>`;
                    
                    var img = document.querySelectorAll(".imgCon .div .name");
    
                    img[imgCount].textContent = event.target.files[0].name;
                    var obj = {
                        id:delCount,
                        event:event.target.files[0]
                    }
                    imgCount+=1;
                    delCount+=1;
                    pdfs.push(obj);
                    imgLen();
                }
            }
    
            function delImg(san){
                var imgCon = document.querySelectorAll(".imgCon .div");
                for(var i = 0; i<pdfs.length; i++){
                    if(pdfs[i].id == san){
                        pdfs.splice(i,1);
                    }
                }
    
                for(var i = 0; i<imgCon.length ; i++){
                    var a = imgCon[i].classList.contains(san);
                    if(a){
                        imgCon[i].remove();
                        break;
                    }
                }
                
                imgCount-=1;
                imgLen();
            }
    
            var bool = false;
            function imgLen(){
                if(pdfs.length==0){
                    var imgsCon = document.querySelector(".imgsCon");
                    var imgCon = document.querySelector(".imgCon");
                    imgCon.style.height = "0";
                    var old = imgsCon.innerHTML;
                    imgsCon.innerHTML = `<div class="noneImg">
                                            <img style="filter: invert(1); opacity:0.7; width:30px" src="/pictures/icon/pdf.svg" alt="">
                                        </div>`+old;
                    bool = true;
                }else if(pdfs.length == 1 && bool){
                    var imgNone = document.querySelector(".noneImg");
                    imgNone.remove();
                    var imgCon = document.querySelector(".imgCon");
                    imgCon.style.height = "200px";
                    bool = false;
                }
            }
            imgLen();
            /////////////////////////////
        </script>
    



    <!-- video take -->
    <script>

        var imgs = [];
        var loadFile2 = function(event,el) {
            var fileSize = event.target.files[0].size/1024/1024; 

            if (fileSize > 50) {
                alert('File size exceeds 50 MiB');
            } else {
                var image = document.querySelectorAll('#output');
                image[el].src = URL.createObjectURL(event.target.files[0]);
                image[el].style.width = "100%";
                image[el].style.height = "100%";

                var obj = {
                    id:el,
                    file:event.target.files[0]
                }
                // videony arr salyar we eger on bar bolsa onda salanok(id gora);
                var bool = true;
                if(imgs.length == 0){
                    imgs.push(obj);
                }else{
                    for(var i = 0; i<imgs.length;i++){
                        if(imgs[i].id == el){
                            imgs.splice(i,1,obj);
                            bool = false;
                            break;                        
                        }
                    }
                    if(bool){
                        imgs.push(obj);
                    }
                }
            }
        };

        linkActive(2);
    </script>


    <!-- formdan maglumat jemlemek -->
    <script>
        var submit = document.querySelector("#identifier");
        var oneTime = true;
        submit.addEventListener("submit",async function(e){
            e.preventDefault()
            if(oneTime){
                oneTime = false;
                var inputs = document.querySelectorAll("#identifier input");
                var tm = document.querySelectorAll('.tm');
                var ru = document.querySelectorAll('.ru');
                var en = document.querySelectorAll('.en');
                var content = tinymce.get("image-tools").getContent();
                var content2 = tinymce.get("image-tools2").getContent();
                var content3 = tinymce.get("image-tools3").getContent();

                var data = {
                    tm:'<%=data.tm%>',
                    ru:'<%=data.ru%>',
                    en:'<%=data.en%>',
                    banner:'<%=data.banner%>',
                    shablon:'<%=data.shablon%>',
                    tmheader:[tm[0].value],
                    ruheader:[ru[0].value],
                    enheader:[en[0].value],
                    text:[content],
                    text2:[content2],
                    text3:[content3],
                    category:'<%=id%>'
                }
                

                var arr = [];
                for(var i = 0; i<imgs.length; i++){
                    arr.push(imgs[i].file);
                }
                
                 // pdf uchin gerek
                 var pdfArr = [];
                for(var i = 0; i<pdfs.length; i++){
                    pdfArr.push(pdfs[i].event);
                }
                
                var res = await dataSend(data,'<%=host%>/constructor/subCategory');
                if(typeof(res.id) == 'number'){
                    // pdf ucin
                    var bool = false;
                    if(pdfArr.length>0){
                        var data = await imgSend(pdfArr,'<%=host%>/constructor/addFile?id='+res.id);
                        if(data.status == 200){
                            bool = true;
                        }
                    }else{
                        bool = true;
                    }
                    if(bool){
                        if(arr.length>0){
                            var data = await imgSend(arr,'<%=host%>/constructor/addVideo?id='+res.id);
                            if(data.status == 200){
                                location.replace('/admin/subConstructor/<%=id%>');
                            }
                        }else{
                            location.replace('/admin/subConstructor/<%=id%>');
                        }
                    }
                }
            }
        })
    </script>
    <script src='https://cdn.tiny.cloud/1/hpf9h4802a6gu20q61xonxq5tg2r8ot8qw5bmkjuseuw4s9i/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
    <script src="/scripts/js/component/tiny.js"></script>
</body>
</html>