<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSTB</title>
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
</head>
<body>
    <%- include ('../src/header.ejs') %>

    <section class="consultation">
        <div class="container">
            <div class="header" data-content id="consultation">Консультация</div>
            <% if (data.pic != null) { %>
                <% for( let i = 0; i < data.body.tm.length; i++ ) { %>
                    <div class="name" data-dynamic data-tm="<%= data.header.tm[i] %>" data-ru="<%= data.header.ru[i] %>" data-en="<%= data.header.en[i] %>"><%= data.header.tm[i] %></div>
                    <div class="img"><img src="<%= host %>/menu/<%= data.pic[i] %>" alt=""></div>
                    <div class="text" data-dynamic data-tm="<%= data.body.tm[i] %>" data-ru="<%= data.body.ru[i] %>" data-en="<%= data.body.en[i] %>"><%= data.body.tm[i] %> </div>
                <% } %>
            <% } %>
        </div>
    </section>
    

    <%- include ('../src/bottom.ejs') %>

    <!-- 7 sany page navbardaky sholara active beryar -->
    <script>active(6)</script>
</body>
</html>