<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSTB</title>
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
</head>
<body>
    <%- include ('../src/header.ejs') %>

    <section class="agzalar" style="background:white">
        <div class="container" style="background-color: white;">
            <div class="agzalarHeader" data-content id="licenses">Лицензирование</div>

            <div class="header" data-dynamic data-tm="<%= data.header.tm %>" data-ru="<%= data.header.ru %>" data-en="<%= data.header.en %>"><%= data.header.tm %> </div>
            <div class="content" data-dynamic data-tm="<%= data.body.tm %>" data-ru="<%= data.body.ru %>" data-en="<%= data.body.en %> "><%= data.body.tm %> </div>
            <% if (data.files !== null) { %>
            <div class="adress" id="fileDownloadUcin" data-content>Flayllar download etmek uchin</div>
            <div class="filesCon">
                    <% for( let i = 0; i < data.files.length; i++ ) { %>
                        <div class="file">
                            <div class="icon"><img src="/pictures/icon/file.svg" alt=""></div>
                            <div class="fileRight">
                                <div class="name"><a href="<%= host %>/menu/license/download?file=<%= data.files[i].filename %>&id=<%= data.id %>" download><%=data.files[i].filename%></a></div>
                                <div class="kb"><%= data.files[i].size %> </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </section>

    <%- include ('../src/bottom.ejs') %>

    <!-- 7 sany page navbardaky sholara active beryar -->
    <script>active(5)</script>
</body>
</html>