<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSTB</title>
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
</head>
<body>
    <%- include ('../src/header.ejs') %>

    <section class="agzalar">
        <div class="container">
            <div class="agzalarHeader" data-content id="licenses">Лицензирование</div>
            <% for( let i = 0; i < data.length; i++ ) { %>
                <div class="docCon">
                    <a href="/licenses/<%= data[i].id %>"><div data-dynamic data-tm="<%=data[i].header.tm%>" data-ru="<%=data[i].header.ru%>" data-en="<%=data[i].header.en%>"><%= data[i].header.tm %> </div></a>
                </div>    
            <% } %>
        </div>
    </section>

    <%- include ('../src/bottom.ejs') %>

    <!-- 7 sany page navbardaky sholara active beryar -->
    <script>active(5)</script>
</body>
</html>