<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <style>
        .choosenTeg{
            margin-bottom: 20px;
            margin-top: -20px;
        }
        .choosenTeg div{
            margin-top: 10px;
            background: #585962;
            padding: 5px;
            display: flex;
            justify-content: space-between;
        }
        .choosenTeg div img{
            margin-right: 10px;
            cursor: pointer;
        }
        .suratHeader{
            word-break: break-all;
        }

    </style>
</head>

<body>
    <%- include ('../admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %>
            </div>
        </div>
    <form action="/admin/kompaniyalar" method="POST" id="identifier">
        <div class="adminTable">
                <div class="formInputs addHabar form1">
                    <div class="box">
                        <div class="boxHeader">Türkmençe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="">Ady:</label>
                            <input type="text" name="headerTM" class="header inputs" required value="<%= data.name %>">
                        </div>
                        <div class="headerCon">
                            <label class="mazmuny" for="">Address:</label>
                            <input type="text" name="headerTM" class="header inputs" required value="<%= data.address.tm %>">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <textarea id="image-tools"></textarea>
                        </div>
                    </div>


                    <div class="box imgBox">
                        <div style="display: flex;">
                            <div style="width: 60%;">
                                <div class="headerCon">
                                    <div class="suratHeader">
                                        <label for="">Faýl [PDF] giriziň:</label>
                                        <label for="sowdaSurat">Faýl goşmak <img src="/pictures/icon/plus.svg" alt=""></label>
                                        <input type="file" onchange="takeImg(event)" id="sowdaSurat" style="display: none;">
                                    </div>
                                </div>
                                <label for="" class="imgsCon">
                                    <!-- js bilen bir tag gelyar surat yok bolondo default surat gelyan -->
                                    <div class="imgCon pdfCon">
                                        <!-- js bilen doldurylyar surat goyulyar -->
                                    </div>
                                </label>
                            </div>
                            <div style="width: 40%; margin-left:20px; margin-top: 50px;">
                                <label for="logo" style="margin-bottom:0;">Logo giriziň:</label>
                                <label for="logo" class="suratHeader logoPlace">
                                    <label for="logo" style="padding-left:5px"><%= data.pic %></label>
                                    <label for="logo"><img src="/pictures/icon/folder.svg" style="width: 15px;" alt=""></label>
                                    <input type="file" onchange="takeLogo(event)" id="logo" style="display: none;">
                                </label>
                            </div>
                        </div>

                        

                        <div class="headerCon">
                            <label for="" class="select">
                                <div>
                                    Welaýat saýlan:
                                </div>
                                <select name="" id="" class="welayatSelect wlt">
                                    <option value="Ashgabat">Aşgabat</option>
                                    <option value="Ahal">Ahal</option>
                                    <option value="Balkan">Balkan</option>
                                    <option value="Lebap">Lebap</option>
                                    <option value="Mary">Mary</option>
                                    <option value="Dashoguz">Daşoguz</option>
                                </select>
                            </label>
                            <label style="margin-top: 4px;" for="" class="select" >
                                <div>
                                    Kategoriýa saýlaň:
                                </div>
                                <select name="" class="welayatSelect">
                                    <option value="" style="display: none;">Kategori sayla</option>
                                    <option value="Işgärler bölümi">Işgärler bölümi</option>
                                    <option value="Umumy bölümi">Umumy bölümi</option>
                                    <option value="Hojalyk bölümi">Hojalyk bölümi</option>
                                    <option value="Ykdysadyýet bölümi">Ykdysadyýet bölümi</option>
                                    <option value="Seljeriş bölümi">Seljeriş bölümi</option>
                                    <option value="Meýilleşdiriş bölümi">Meýilleşdiriş bölümi</option>
                                    <option value="Hasapçylar bölümi">Hasapçylar bölümi</option>
                                    <option value="Hukuk bölümi">Hukuk bölümi</option>
                                    <option value="Söwda we hyzmatlar bölümi">Söwda we hyzmatlar bölümi</option>
                                    <option value="Oba senagat toplumy we balykçylyk müdirligi">Oba senagat toplumy we balykçylyk müdirligi</option>
                                    <option value="Azyk önümçiligi bölümi">Azyk önümçiligi bölümi</option>
                                    <option value="Balykçylyk bölümi">Balykçylyk bölümi</option>
                                    <option value="Gurluşyk bölümi">Gurluşyk bölümi</option>
                                    <option value="Senagat we himiýa önimçiligi bölümi">Senagat we himiýa önimçiligi bölümi</option>
                                    <option value="Logistika bölümi">Logistika bölümi</option>
                                    <option value="Halkara bölümi">Halkara bölümi</option>
                                    <option value="Sanly ulgamlar bölümi">Sanly ulgamlar bölümi</option>
                                    <option value="Syýahatçylyk,bilim we sport bölümi">Syýahatçylyk,bilim we sport bölümi</option>
                                    <option value="Maglumat we mahabat bölümi">Maglumat we mahabat bölümi</option>
                                    <option value="Aşgabat şäheri we Ahal welaýaty boýunça bölümi">Aşgabat şäheri we Ahal welaýaty boýunça bölümi</option>
                                    <option value="Balkan welaýaty boýunça bölümi">Balkan welaýaty boýunça bölümi</option>
                                    <option value="Daşoguz welaýaty boýunça bölümi">Daşoguz welaýaty boýunça bölümi</option>
                                    <option value="Lebap welaýaty boýunça bölümi">Lebap welaýaty boýunça bölümi</option>
                                    <option value="Mary welaýaty boýunça bölümi">Mary welaýaty boýunça bölümi</option>
                                </select>
                            </label>
                            <div class="choosenTeg">
                                
                            </div>
                            <label style="margin-top:0;" for="">Web-saýt:</label>
                            <input type="text" value="<%= data.link %>" class="inputs" required>
                            <label for="">Email:</label>
                            <input type="text" value="<%= data.email %>" class="inputs" required>
                            <label  for="">Instagram:</label>
                            <input type="text" value="<%= data.extra %>" class="inputs" required>
                        </div>
                    </div>
                    

                    <textarea name="text" style="display: none;" id="hiddenArea" cols="30"  rows="10"></textarea>
                    <textarea name="text2" id="hiddenArea2" style="display: none;" cols="30"  rows="10"></textarea>
                    <textarea name="text3" id="hiddenArea3" cols="30" style="display: none;" rows="10"></textarea>

                    <div class="box">
                        <div class="boxHeader">Rusça giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Address:</label>
                            <input type="text" name="headerRU" id="topTa" class="header inputs" value="<%= data.address.ru %>" required>
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <textarea id="image-tools2"></textarea>
                        </div>
                    </div>


                    <div class="box">
                        <div class="boxHeader">Iňlisçe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Address:</label>
                            <input type="text" name="headerEN" id="topTa" class="header inputs" value="<%= data.address.en %>" required>
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <textarea id="image-tools3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="formInputs addHabar form2">

                </div>


            <div class="submitCon">
                <input class="save" type="submit" value="Ýatda sakla">
            </div>
        </div>
    </form>
    </div>

    <div class="txt" style="display: none;"><%= data.body.tm %></div>
    <div class="txt" style="display: none;"><%= data.body.ru %></div>
    <div class="txt" style="display: none;"><%= data.body.en %></div>

    <% if (data.files != null) { %>
        <% for(var i =0 ; i<data.files.length; i++) {%>
            <div class="fileTake" style="display: none;"><%= data.files[i].filename %></div>
        <% } %>  
    <% } %>
 <!-- selectden saylanany ashakda gorkezmek -->
 <script>
    var tegs = "<%=data.category%>";
    tegs = tegs.split(",");

    for(var i =0; i<tegs.length;i++){
        var choosen = document.querySelector(".choosenTeg");
        choosen.innerHTML+=`
                <div><span>${tegs[i]}</span><img onclick="delArrTeg('${tegs[i]}',this)" src="/pictures/icon/minus.svg" alt=""></div>
            `
    }

    var teg = document.querySelectorAll(".welayatSelect")[1];
    teg.addEventListener("change",function(){
        var choosen = document.querySelector(".choosenTeg");
        var goshma = false;
        for(var i = 0; i<tegs.length;i++){
            if(tegs[i] == teg.value){
                goshma = true;
                break;
            }
        }
        if(!goshma){
            tegs.push(teg.value);
            choosen.innerHTML+=`
                <div><span>${teg.value}</span><img onclick="delArrTeg('${teg.value}',this)" src="/pictures/icon/minus.svg" alt=""></div>
            `
        }
    })

    function delArrTeg(teg,thiss){
        for(var i = 0; i<tegs.length; i++){
            if(teg == tegs[i]){
                tegs.splice(i,1);
            }
        }
        thiss.parentNode.style.display = "none";
    }

</script>
   

<!-- select one welayat -->
    <script>
        var welayat = document.querySelectorAll(".wlt option");
       
        for(var i = 0; i<welayat.length; i++){
            var a = welayat[i].textContent
            if(a == '<%=data.welayat%>'){
                welayat[i].setAttribute('selected','selected');
                break
            }
        }
    </script>



 <!-- picture show when i choose from file -->
 <script>
    var imgCount = 0;
    var delCount = 0;
    var imgs = [];

    function fileAdd(){
        var imgCon = document.querySelector(".imgCon");
        imgCon.style.height = "100px";
        var fileTake = document.querySelectorAll(".fileTake");
        var file = [];
        for(var i = 0; i<fileTake.length;i++){
            file.push(fileTake[i].textContent);
        }
        var imgCon = document.querySelector(".imgCon");
        for(var i = 0; i<file.length; i++){
            imgCon.innerHTML += `
                                <div class="div pdf ${delCount}">
                                    <img class="img" src="/pictures/icon/pdfRed.png" alt="hjhjhj">
                                    <div class="imgDelete" onclick="delImg(${delCount})"><img src="/pictures/icon/delete.svg"  alt=""></div>
                                    <div class="name">${file[i]}</div>
                                </div>`;
            imgs.push({id:delCount});
            delCount+=1;
            imgCount+=1;
        }
        imgLen();
    }
    fileAdd();

    function takeImg(event){
        if(event.target.files[0] != undefined){
            var imgCon = document.querySelector(".imgCon");
            imgCon.innerHTML += `
                                <div class="div pdf ${delCount}">
                                    <img class="img" src="/pictures/icon/pdfRed.png" alt="hjhjhj">
                                    <div class="imgDelete" onclick="delImg(${delCount})"><img src="/pictures/icon/delete.svg"  alt=""></div>
                                    <div class="name"></div>
                                </div>`;
            
            var img = document.querySelectorAll(".imgCon .div .name");

            img[imgCount].textContent = event.target.files[0].name;
            var obj = {
                id:delCount,
                event:event.target.files[0]
            }
            
            imgCount+=1;
            delCount+=1;
            imgs.push(obj);
            imgLen();
        }
    }

    async function delImg(san){
        const option={
            method:"DELETE"
        }
        
        var status = await fetch('<%=host%>/members/deleteFile?id=<%=id%>&index='+san,option);
        console.log(status.status);

        var imgCon = document.querySelectorAll(".imgCon .div");
        for(var i = 0; i<imgs.length; i++){
            if(imgs[i].id == san){
                imgs.splice(i,1);
            }
        }

        for(var i = 0; i<imgCon.length ; i++){
            var a = imgCon[i].classList.contains(san);
            if(a){
                imgCon[i].remove();
                break;
            }
        }
        
        imgCount-=1;
        imgLen();
    }

    var bool = false;
    function imgLen(){
        if(imgs.length==0){
            var imgsCon = document.querySelector(".imgsCon");
            var imgCon = document.querySelector(".imgCon");
            imgCon.style.height = "0";
            var old = imgsCon.innerHTML;
            imgsCon.innerHTML = `<div class="noneImg" style="height:100px">
                                    <img style="filter: invert(1); opacity:0.7; width:30px" src="/pictures/icon/pdf.svg" alt="">
                                </div>`+old;
            bool = true;
        }else if(imgs.length == 1 && bool){
            var imgNone = document.querySelector(".noneImg");
            imgNone.remove();
            var imgCon = document.querySelector(".imgCon");
            imgCon.style.height = "100px";
            bool = false;
        }
    }

    var logo;
    function takeLogo(e){
        logo= e.target.files[0];
        var logoLabel = document.querySelector(".logoPlace label");
        logoLabel.textContent = e.target.files[0].name;
    }


    dropActive(2,2);
</script>

<!-- formdan maglumat jemlemek -->
<script>
    var oneTime = true;
    var form = document.querySelector("#identifier");
    form.addEventListener("submit",async function(e){
        e.preventDefault();
        if(oneTime){
            oneTime = false;
            var inputs = document.querySelectorAll('#identifier .inputs');
            var welayat = document.querySelectorAll(".welayatSelect");
            var content = tinymce.get("image-tools").getContent();
            var content2 = tinymce.get("image-tools2").getContent();
            var content3 = tinymce.get("image-tools3").getContent();

            var data = {
                text: content,
                text2: content2,
                text3: content3,
                name : inputs[0].value,
                tmAdress : inputs[1].value,
                web : inputs[2].value,
                email : inputs[3].value,
                extra : inputs[4].value,
                ruAddress : inputs[5].value,
                enAddress : inputs[5].value,
                welayat : welayat[0].value,
                member : tegs
            }
            var arr = [];
            for(var i =0; i<imgs.length; i++){
                if(imgs[i].event !== undefined){
                    arr.push(imgs[i].event);
                }
            }
            var logoArr = [];
            if(logo !== undefined){
                logoArr.push(logo);
            }
            var res = await dataSend(data,`<%=host%>/members/edit?id=<%=id%>`);
            if(res.status == 'success'){
                var bool = false;
                var bool2 = false;
                if(logoArr.length > 0){
                    var res2 = await imgSend(logoArr,`<%=host%>/members/addPic?id=<%=id%>`);
                    if(res2.status == 200){
                        bool = true;
                    }
                }else{
                    bool = true
                }
                if(bool && arr.length>0){
                    var res2 = await imgSend(arr,`<%=host%>/members/addFile?id=<%=id%>`);
                    if(res2.status == 200){
                        bool2 = true
                    }
                }else{
                    bool2 = true
                }
                if( bool && bool2){
                    location.replace("/admin/kompaniyalar");
                }
            }
        }
    })
</script>

 
<script src='https://cdn.tiny.cloud/1/hpf9h4802a6gu20q61xonxq5tg2r8ot8qw5bmkjuseuw4s9i/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
<script src="/scripts/js/component/tinyEdit.js"></script>
<script>
    var text = document.querySelectorAll(".txt");
    setData(text[0].textContent,text[1].textContent,text[2].textContent);
</script>


</body>
</html>